In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import json
import requests
import pymysql 
import numpy as np 
import pandas as pd 
import pyspark.pandas as ps
import pyspark.sql.functions as F

from scipy import stats
from functools import reduce
from pyspark.sql import DataFrame
from typing import Optional
from sqlalchemy import create_engine
from sqlalchemy.engine import URL 
# from backend_spark.doris_common.doris_client import DorisClient
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, TimestampType, IntegerType, FloatType
from pyspark.sql.functions import pandas_udf, PandasUDFType, monotonically_increasing_id, lit, col

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [9]:
from pyspark.sql import SparkSession
spark = (SparkSession.builder
  .master("local[*]")
  .config("spark.jars.packages", "ai.catboost:catboost-spark_3.3_2.12:1.2")
  .appName("RF")
  .getOrCreate())

In [264]:
client81 = pymysql.connect(user='root', password='Nexchip@123', port=9030, host='10.52.199.81')
data_count = 0

# doris 数据库连接
# client91 = DorisClient("10.52.199.91", 18030, 9030, user="ikas_user", password="Ikas_user@123", data_base="ODS_EDA",
#                      mem_limit="68719476736")

# client81 = DorisClient("10.52.199.81", 18030, 9030, user="root", password="Nexchip@123", data_base="ODS_EDA",
#                      mem_limit="68719476736")


####################################################################################
###################################解析sql 的辅助函数###################################
####################################################################################
def read_sql1(sql_stat, read_client=client81, session=spark):
    # df1 = read_client.doris_read(session, sql_stat)
    df1 = spark.createDataFrame(pd.read_sql(sql=sql_stat, con=client81))
    return df1


def read_sql(sql_stat, read_client=client81, session=spark):
    # df1 = read_client.doris_read(session, sql_stat)
    ds = pd.read_sql(sql=sql_stat, con=client81)
    if ds is None or len(ds) == 0:
        empty_schema = StructType([
            StructField("WAFER_ID", StringType(), True),
            StructField("OPE_NO", StringType(), True),
            StructField("INLINE_PARAMETER_ID", StringType(), True),
            StructField("PRODUCT_ID", StringType(), True),
            StructField("AVERAGE", StringType(), True),
            StructField("STD_DEV", StringType(), True),
            StructField("MEASURE_TIME", TimestampType(), True),
            StructField("AVG_SPEC_CHK_RESULT", StringType(), True),
            StructField("label", StringType(), True)
        ])
        df1 = spark.createDataFrame([], empty_schema)
        #print(df1)
        #null_dataframe = pd.DataFrame(
        #{
        #"WAFER_ID" : [""],
        #"OPE_NO" : [""],
        #"INLINE_PARAMETER_ID" : [""],
        #"PRODUCT_ID" : [""],
        #"AVERAGE" : [0.0],
        #"STD_DEV" : [0.0],
        #"MEASURE_TIME" : [""],
        #"AVG_SPEC_CHK_RESULT" : [""],
        #"label" : [0],
        #}
        #)
        #df1 = spark.createDataFrame(null_dataframe)
    else:
        df1 = spark.createDataFrame(ds)
        data_count = 1
    return df1

def process_like(key: str, value: list[str]) -> str:
    # 处理模糊条件的匹配: (key like 'aa%' or key like "bb%")
    key = keyword_map_from_json_to_table.get(key)
    v_join = ' or '.join([f"{key} like  '{v.replace('*', '%')}' " for v in value])
    return "({})".format(v_join)


def process_not_like(key: str, value: list[str]) -> str:
    # 处理非模糊条件的匹配:key in ('aa', 'bb')
    key = keyword_map_from_json_to_table.get(key)
    v_join = ",".join([f"'{v}'" for v in value])
    return "{} in ({})".format(key, v_join)


def test_not_like():
    result = (process_not_like("tool_name", ["aa", "bb", "cc"]))
    assert "tool_name in ('aa','bb','cc')" == result, "not like 验证失败"


def test_like():
    result = process_like("tool_name", ["aa*", "bb*", "cc*"])

    assert "(tool_name like  'aa%'  or tool_name like  'bb%'  or tool_name like  'cc%' )" == result, "like 验证失败"


def process_one_keyword(key, value: list[str]) -> Optional[str]:
    if len(value) == 0:
        return None

    not_like_list = [v for v in value if "*" not in v]
    like_list = [v for v in value if "*" in v]

    # 处理模糊条件
    if len(not_like_list) != 0:
        not_like_sql_str = process_not_like(key, not_like_list)
    else:
        not_like_sql_str = ""

    # 处理非模糊条件

    if len(like_list) != 0:
        like_sql_str = process_like(key, like_list)
    else:
        like_sql_str = ""

    # 去除为一个元素为空字符串的情况的情况的情况
    concat_sql_str_list = [sql_str for sql_str in [like_sql_str, not_like_sql_str] if len(sql_str) != 0]
    # 使用or 操作 单字段过滤 的like 和 not like 语句
    return "(" + " or ".join(concat_sql_str_list) + ")"


def check_time_start_end(min_time, max_time):
    if min_time is not None and max_time is not None:
        pass
    else:
        raise ValueError("起始时间和结束时间必须全填")

def get_time_selection_sql(time_keyword, max_time=None, min_time=None):
    """
    获取时间区间的筛选的sql, 起始时间和结束时间都是可选的
    :param time_keyword:
    :param max_time:
    :param min_time:
    :return:
    """
    # 根据取值，生成单个时间过滤条件
    if min_time:
        time_part_min = f"{time_keyword} > '{min_time}'"
    else:
        time_part_min = " "

    if max_time:
        time_part_max = f"{time_keyword} <= '{max_time}'"
    else:
        time_part_max = " "

    # 如果存在，拼接多个查询条件，或者只保留一个过滤条件
    if (max_time is not None) and (min_time is not None):
        time_sql = f' {time_part_min} and {time_part_max}'
    elif (max_time is None) and (min_time is None):
        time_sql = " "
    else:
        time_sql = time_part_max if max_time else time_part_min

    return time_sql

def concat_time_filter_sql_with_other_keyword_sql(time_filter_sql: str, other_keyword_sql:str) -> str:
    """
    拼接时间过滤条件与非时间过滤条件
    :param time_filter_sql:
    :param other_keyword_sql:
    :return:
    """
    time_strip = time_filter_sql.strip()
    other_strip = other_keyword_sql.strip()
    if len(time_strip) == 0 and len(other_strip) == 0:
        return ""
    elif len(time_strip) != 0 and len(other_strip) == 0:
        return  time_filter_sql
    elif len(time_strip) == 0 and len(other_strip) != 0:
        return other_keyword_sql
    else:
        return f'{time_filter_sql} and {other_keyword_sql}'

def trans_select_condition_to_sql_with_label(select_condition_dict: dict, table_name: str) -> str:
    # 查询条件转sql,并打标签，label '0': good wafer, '1': bad wafer
    filter_sql_list = []
    for keyword, value in select_condition_dict.items():
        if keyword not in ["dateRange", "waferId", "uploadId", "mergeProdg1"]:
            sql_filter_one_keyword = process_one_keyword(keyword, value)
            if sql_filter_one_keyword is not None:
                filter_sql_list.append(sql_filter_one_keyword)

    # 处理时间区间
    time_bin = select_condition_dict.get("dateRange")

    if len(time_bin) >0:
        time_bin_dict = time_bin[0]
        min_time = time_bin_dict.get("start")
        max_time = time_bin_dict.get("end")
    else:
        min_time = None 
        max_time = None 

    # 去除时间检查，时间范围为可选输入
    # 检查起始时间和结束时间全部非空
    # check_time_start_end(min_time, max_time)

    # 处理waferId
    waferId = select_condition_dict.get("waferId")
    good_wafer_list = waferId.get("good")
    bad_wafer_list = waferId.get("bad")

    # 根据time 过滤条件,生成sql
    time_filter_sql = get_time_selection_sql(time_keyword=keyword_map_from_json_to_table.get('dateRange'), max_time=max_time, min_time=min_time)


    if len(good_wafer_list) + len(bad_wafer_list) == 0:
        raise ValueError("good, bad wafer 至少选择一个")
    elif len(good_wafer_list) > 0 and len(bad_wafer_list) > 0:
        # good wafer, bad wafe 均有指定，需要从层层字段的过滤的条件下选择
        good_wafer_filter_sql = process_one_keyword("waferId", good_wafer_list)
        bad_wafer_filter_sql = process_one_keyword("waferId", bad_wafer_list)
        # or 拼接
        wafer_filter_sql = " or ".join([good_wafer_filter_sql, bad_wafer_filter_sql])
        wafer_filter_sql = f"({wafer_filter_sql})"
        # 加入wafer 过滤条件
        filter_sql_list.append(wafer_filter_sql)
        other_keyword_filter = " and ".join(filter_sql_list)

        case_when_statment = f"""(
        case 
        when {good_wafer_filter_sql} then 0
        else 1 
        end 
        ) label
        """

        filter_sql_concat = concat_time_filter_sql_with_other_keyword_sql(time_filter_sql, other_keyword_filter)
        if filter_sql_concat != '':
            select_sql = f"select *, {case_when_statment} from {table_name} where {filter_sql_concat}"
        else:
             select_sql = f"select *, {case_when_statment} from {table_name}"

        
       
    elif len(good_wafer_list) > 0 and len(bad_wafer_list) == 0:
        # 选good, 剩余为 bad
        other_keyword_filter = " and ".join(filter_sql_list)
        good_wafer_filter_sql = process_one_keyword("waferId", good_wafer_list)

        case_when_statment = f"(case when {good_wafer_filter_sql} then 0 else 1  end ) label"
        filter_sql_concat = concat_time_filter_sql_with_other_keyword_sql(time_filter_sql, other_keyword_filter)
        select_sql = f"select *, {case_when_statment} from {table_name} where {filter_sql_concat}"

    elif len(good_wafer_list) == 0 and len(bad_wafer_list) > 0:
        # 选bad, 剩余为good
        other_keyword_filter = " and ".join(filter_sql_list)
        bad_wafer_filter_sql = process_one_keyword("waferId", bad_wafer_list)
        case_when_statment = f"""(case when {bad_wafer_filter_sql} then 1 else 0 end ) label"""
        filter_sql_concat = concat_time_filter_sql_with_other_keyword_sql(time_filter_sql, other_keyword_filter)
        select_sql = f"select *, {case_when_statment} from {table_name} where {filter_sql_concat}"
        # case1 stat results 表没有case_info 时间列，暂时去掉
        # select_sql = f"select *, {case_when_statment} from {table_name} where {other_keyword_filter}"
    select_keywords = """WAFER_ID,
    OPE_NO,
    INLINE_PARAMETER_ID,
    PRODUCT_ID,
    LOT_ID,
    `AVERAGE`,
    STD_DEV,
    MEASURE_TIME,
    AVG_SPEC_CHK_RESULT"""
    select_sql = select_sql.replace( "*",  select_keywords )
    print(select_sql)
    return select_sql



def get_data_from_doris(select_condition_list, table_name):
    try:
        select_df_list = [read_sql(trans_select_condition_to_sql_with_label(select_condition_dict, table_name)) for select_condition_dict in select_condition_list]
        # 多个进行union
        df1 = reduce(DataFrame.unionAll, select_df_list)
        return df1
    except Exception as e:
        return None
    
    
############################################################################
##############################从kafka消息读取需要的资料#########################
############################################################################
def get_some_info(df:pd.DataFrame):
    try:
        if len(df) > 0:
            df = df.head(1)

        request_id = df["requestId"].values[0]
        request_params = df["requestParam"].values[0]
        # 避免存在单引号，因为json 引号只有双引号
        request_params = request_params.replace('\'', "\"")   
        parse_dict = json.loads(request_params)
        return parse_dict, request_id
    except Exception as e:
        return None

In [3]:
df1_pandas = pd.read_csv("inline1.csv")
df1_pandas

,WAFER_ID,OPE_NO,INLINE_PARAMETER_ID,MEASURE_TIME,RANGE_INDEX,FAB_ID,PRODUCT_ID,LOT_ID,AVERAGE,MAX_VAL,...,RANGE,ACT_CODE,ETL_INSERT_TIME,ETL_ARC_FLAG,ETL_BATCH_SYNC_TS,ETL_DEL_FLAG,ETL_DS_JOB_NM,ETL_SRC_DB,ETL_SRC_TBL,ETL_TBL_OPER_TS
0,NAZ415-06,1C.CDG10,CIW0,2022-12-03 01:45:41,0,N1,AFPNM301N.0A01,NAZ415000,NaN,NaN,...,NaN,NaN,2023-05-29 04:34:30,0,1970-01-01 00:00:00,0,NaN,EDA,INLINE_WAFER_SUMMARY,1970-01-01 00:00:00
1,NAZ415-06,1C.CDG10,EEW0,2022-12-03 01:45:41,0,N1,AFPNM301N.0A01,NAZ415000,3999.845454,NaN,...,NaN,NaN,2023-05-29 04:34:30,0,1970-01-01 00:00:00,0,NaN,EDA,INLINE_WAFER_SUMMARY,1970-01-01 00:00:00
2,NAZ415-06,1C.CDG10,FEW0,2022-12-03 01:45:41,0,N1,AFPNM301N.0A01,NAZ415000,123.402563,NaN,...,NaN,NaN,2023-05-29 04:34:30,0,1970-01-01 00:00:00,0,NaN,EDA,INLINE_WAFER_SUMMARY,1970-01-01 00:00:00
3,NAZ415-06,1C.CDG10,HFT0,2022-12-03 01:45:41,0,N1,AFPNM301N.0A01,NAZ415000,44.099000,NaN,...,NaN,NaN,2023-05-29 04:34:30,0,1970-01-01 00:00:00,0,NaN,EDA,INLINE_WAFER_SUMMARY,1970-01-01 00:00:00
4,NAZ415-06,1C.CDG10,OEW0,2022-12-03 01:45:41,0,N1,AFPNM301N.0A01,NAZ415000,6000.016364,NaN,...,NaN,NaN,2023-05-29 04:34:30,0,1970-01-01 00:00:00,0,NaN,EDA,INLINE_WAFER_SUMMARY,1970-01-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32273,NBX219-17,1U.CDG20,PTW0,2023-08-31 23:37:37,0,N1,AFPNR901N.0B0J,NBX219000,5500.000000,NaN,...,NaN,NaN,2023-08-31 23:47:47,0,1970-01-01 00:00:00,0,NaN,NaN,NaN,1970-01-01 00:00:00
32274,NBX219-17,1U.CDG20,REW0,2023-08-31 23:37:37,0,N1,AFPNR901N.0B0J,NBX219000,198.846013,NaN,...,NaN,NaN,2023-08-31 23:47:47,0,1970-01-01 00:00:00,0,NaN,NaN,NaN,1970-01-01 00:00:00
32275,NBX219-17,1U.CDG20,SEW0,2023-08-31 23:37:37,0,N1,AFPNR901N.0B0J,NBX219000,1.292111,NaN,...,NaN,NaN,2023-08-31 23:47:47,0,1970-01-01 00:00:00,0,NaN,NaN,NaN,1970-01-01 00:00:00
32276,NBX219-17,1U.CDG20,SFW0,2023-08-31 23:37:37,0,N1,AFPNR901N.0B0J,NBX219000,3.000000,NaN,...,NaN,NaN,2023-08-31 23:47:47,0,1970-01-01 00:00:00,0,NaN,NaN,NaN,1970-01-01 00:00:00
32277,NBX219-17,1U.CDG20,TSW0,2023-08-31 23:37:37,0,N1,AFPNR901N.0B0J,NBX219000,350.116364,NaN,...,NaN,NaN,2023-08-31 23:47:47,0,1970-01-01 00:00:00,0,NaN,NaN,NaN,1970-01-01 00:00:00

In [4]:
df1 = ps.from_pandas(df1_pandas).to_spark()
df1.count()

32278

In [5]:
from pyspark.sql.functions import pandas_udf, PandasUDFType, max, col, countDistinct, when, rank, lit

############################################
######## 1. 客户只定义了bad_wafer = []是什么  ########
############################################
# 将传进来的BAD_WAFER, 用 | 连接起来，
# F.col('WAFER_ID').like('NDJ065%') | F.col('WAFER_ID').like('NDJ067%') 作为条件传入增加label
# 同时将isin模式也作为条件传入增加label

def get_label_single(df, bad_wafer):
    like_conditions = [f"col('WAFER_ID').like('{bad}')" for bad in bad_wafer]
    all_like_conditions = " | ".join(like_conditions)
    isin_conditions = "col('WAFER_ID').isin(bad_wafer)"
    df = df.withColumn('label', 
                when( eval(all_like_conditions) | eval(isin_conditions), int(1)).otherwise(int(0)))
    return df


############################################
## 2. 客户定义了bad_wafer = [] 和 good_wafer = []######
############################################
# 将传进来的BAD_WAFER, 用 | 连接起来，
# 将传进来的GOOD_WAFER, 也用 | 连接起来，
# 同时将isin模式也作为条件传入增加label

def get_label_double(df, bad_wafer, good_wafer):
    good_like_conditions = [f"col('WAFER_ID').like('{good}')" for good in good_wafer]
    all_good_like_conditions = " | ".join(good_like_conditions)
    good_isin_conditions = "col('WAFER_ID').isin(good_wafer)"

    bad_like_conditions = [f"col('WAFER_ID').like('{bad}')" for bad in bad_wafer]
    all_bad_like_conditions = " | ".join(bad_like_conditions)
    bad_isin_conditions = "col('WAFER_ID').isin(bad_wafer)"

    df = df.withColumn('label',  when(eval(all_good_like_conditions) | eval(good_isin_conditions), int(0)).when(eval(all_bad_like_conditions) | eval(bad_isin_conditions), int(1)).otherwise(222333))
    df = df.filter(df['label'] != int(222333))
    return df

In [6]:
good = ["NAZ415-06","NAZ415-08","NAZ415-12","NAZ415-13","NAZ439-07","NAZ703-08","NAZ703-09"]
bad  = ["NAZ439-03","NAZ439-06","NAZ703-01","NBX082-05","NBX082-12","NBX082-15","NBX082-16","NBX219-17"]

df1 = get_label_double(df1, bad, good)
df1.count()

32278

------------

In [7]:
df1_pandas = df1.toPandas()

In [8]:
df1_pandas['OPE_NO'].unique()

array(['1C.CDG10', '1U.CDG10', '1U.CDG20', '1V.PQA10', '2U.CDG10',
       '2U.CDG20', '2U.PQA10', '2V.PQA10', '2V.PQW10', '3U.CDG10',
       '3U.CDG20', '3U.PQW10', '6V.CDG10', '6V.CDG20', '6V.PQA10',
       '7U.EQA20', '7U.PQA10', '7U.PQA20', '7U.PQX10', 'PV.CDG10',
       'TM.EQA10', 'TM.PQA10', 'TM.PQX10', 'TV.CDG10', 'TV.EQA20',
       'TV.PQA10', 'TV.PQX10', 'XX.EQW01', 'XX.PQW01', 'XX.PQX01',
       'XX.PQX02', '1U.ECU10', '1V.ECU10', '1V.PQX10', '1V.PQX20',
       '2U.EQW10', '2U.PQX10', '2V.ECU10', '2V.PQX10', '2V.PQX20',
       '3U.PQA10', '3U.PQX10', '6V.PQW10', '6V.PQX10', '7U.ECU10',
       '7U.EQA10', '7U.PQW10', 'PV.EQA10', 'PV.PQA10', 'PV.PQX10',
       'TM.PQW10', 'TV.PQW10', '1C.EQW10', '1C.PQA10', '1C.PQW10',
       '1C.PQX10', '1U.CQC10', '1U.CQC50', '1U.EQW20', '1V.EQC30',
       '1V.EQW10', '1V.PQW10', '1V.PQX30', '2U.CQC10', '2U.CQC50',
       '2U.PQW10', '3U.CQC10', '3U.CQC50', '6V.CQC10', '6V.CQC20',
       '6V.CQC30', '6V.CQC40', 'XX.PQW03', '1F.FQE10', '1U.EQW10',
       '1U.PQW10', '1U.PQX10', '2V.EQW10', '3U.EQW10', '6V.EQW10',
       '7U.EQW10', 'TM.EQW10', 'TV.EQW10', '1V.EQW20', '6V.EQA10',
       'XX.CCX01', 'XX.CCZ01', 'XX.CCY01', '1U.EQC10', '1U.PQA10',
       '1V.EQC10', 'XX.IQW01', '5V.PQA10', '6U.CDG10', '6U.CDG20',
       '6U.PQA10', '7U.CDG10', 'PV.PQW10', 'TV.CQC10', 'XX.PQX03'],
      dtype=object)

In [9]:
df1_pandas['INLINE_PARAMETER_ID'].unique()

array(['CIW0', 'EEW0', 'FEW0', 'HFT0', 'OEW0', 'PEW0', 'PTW0', 'REW0',
       'SEW0', 'SFW0', 'TSW0', 'MCW0', 'MEW0', 'MFW0', 'MSW0', 'SNW0',
       '01W0', '02W0', '03W0', '04W0', '05W0', '06W0', '07W0', '08W0',
       '09W0', '10W0', '11W0', '12W0', '13W0', '14W0', '15W0', '16W0',
       '17W0', '18W0', '19W0', '20W0', '21W0', '22W0', '23W0', '24W0',
       '25W0', '26W0', '27W0', '28W0', '29W0', '30W0', '31W0', '32W0',
       '33W0', '34W0', '35W0', '36W0', '37W0', '38W0', '39W0', '40W0',
       '41W0', '42W0', '43W0', '44W0', '45W0', 'DNW01', 'DNW02', 'DNW03',
       'DNW04', 'DNW05', 'DNW06', 'DNW07', 'DNW08', 'DNW09', 'DNW10',
       'DNW11', 'DNW12', 'XSIG', 'YSIG', 'A1W0', 'A2W0', 'A3W0', 'A4W0',
       'A5W0', 'A6W0', 'A7W0', 'A8W0', 'A9W0', 'AAW0', 'ABW0', 'ACW0',
       'ADW0', 'AEW0', 'AFW0', 'AGW0', 'AHW0', 'AIW0', 'AJW0', 'AMW0',
       'AXW0', 'AYW0', 'B5W0', 'FX01', 'FX02', 'FX03', 'FX04', 'FX05',
       'FY01', 'FY02', 'FY03', 'FY04', 'FY05', 'IYW0', 'JYW0', 'MPW0',
       'MX01', 'MX02', 'MX03', 'MX04', 'MX05', 'MY01', 'MY02', 'MY03',
       'MY04', 'MY05', 'QX01', 'QX02', 'QX03', 'QX04', 'QX05', 'QY01',
       'QY02', 'QY03', 'QY04', 'QY05', 'SAW0', 'SBW0', 'WAW0', 'WBW0',
       'X7W0', 'X8W0', 'XDW0', 'XIW0', 'XMW0', 'XSW0', 'XTW0', 'Y7W0',
       'Y8W0', 'YDW0', 'YIW0', 'YMW0', 'YSW0', 'YTW0', 'FGS1', 'TGS1',
       'TGS2', 'WIW0', '100W0', '101W0', '102W0', '103W0', '104W0',
       '105W0', '106W0', '107W0', '108W0', '109W0', '110W0', '111W0',
       '112W0', '113W0', '114W0', '115W0', '116W0', '117W0', '118W0',
       '119W0', '120W0', '121W0', '122W0', '123W0', '124W0', '125W0',
       '126W0', '127W0', '128W0', '129W0', '130W0', '131W0', '132W0',
       '133W0', '134W0', '135W0', '136W0', '137W0', '138W0', '139W0',
       '140W0', '141W0', '142W0', '143W0', '144W0', '145W0', '146W0',
       '147W0', '148W0', '149W0', '150W0', '151W0', '152W0', '153W0',
       '154W0', '155W0', '156W0', '46W0', '47W0', '48W0', '49W0', '50W0',
       '51W0', '52W0', '53W0', '54W0', '55W0', '56W0', '57W0', '58W0',
       '59W0', '60W0', '61W0', '62W0', '63W0', '64W0', '65W0', '66W0',
       '67W0', '68W0', '69W0', '70W0', '71W0', '72W0', '73W0', '74W0',
       '75W0', '76W0', '77W0', '78W0', '79W0', '80W0', '81W0', '82W0',
       '83W0', '84W0', '85W0', '86W0', '87W0', '88W0', '89W0', '90W0',
       '91W0', '92W0', '93W0', '94W0', '95W0', '96W0', '97W0', '98W0',
       '99W0', 'DPW0', 'CXS1', 'CYS1', 'FDS1', 'TAW1', 'TDS1', 'THW1',
       'TLW1', 'TUW1', 'T1S1', 'T2S1', 'FDS2', 'HAW1', 'HDS1', 'HHW1',
       'HLW1', 'HRW1', 'HUW1', 'TAW2', 'TDS2', 'THW2', 'TLW2', 'TRW1',
       'TRW2', 'TUW2', 'DNW13', 'DNW14', 'DNW15', 'DNW16', 'WX02W0',
       'WX03W0', 'WX11W0', 'WX12W0', 'WX20W0', 'WX21W0', 'WX30W0',
       'WY02W0', 'WY03W0', 'WY11W0', 'WY12W0', 'WY20W0', 'WY21W0',
       'WY30W0', 'FX010', 'FX06', 'FX07', 'FX08', 'FX09', 'FY010', 'FY06',
       'FY07', 'FY08', 'FY09', 'MX010', 'MX06', 'MX07', 'MX08', 'MX09',
       'MY010', 'MY06', 'MY07', 'MY08', 'MY09', 'QX010', 'QX06', 'QX07',
       'QX08', 'QX09', 'QY010', 'QY06', 'QY07', 'QY08', 'QY09', 'T1S2',
       'TAW3', 'TDS3', 'TAW4', 'TAW5', 'TAWB', 'TDS0', 'TUW9', 'TUWB',
       'DPW1', 'TX01', 'TY01', 'TUWC', 'TUWT', '157W0', '158W0', '159W0',
       '160W0', '161W0', '162W0', '163W0', '164W0', '165W0', '166W0',
       '167W0', '168W0', '169W0', '170W0', '171W0', '172W0', '173W0',
       '174W0', '175W0', '176W0', '177W0', '178W0', '179W0', '180W0',
       '181W0', '182W0', '183W0', '184W0', '185W0', '186W0', '187W0',
       '188W0', '189W0', '190W0', '191W0', '192W0', '193W0', '194W0',
       '195W0', '196W0', '197W0', '198W0', '199W0', '200W0', 'TX06',
       'TY06', 'TX02', 'TX03', 'TX04', 'TX05', 'TY02', 'TY03', 'TY04',
       'TY05', '201W0', '202W0', '203W0', '204W0', '205W0', '206W0',
       '207W0', '208W0', '209W0', '210W0', '211W0', '212W0', '213W0',
       '214W0', '215W0', '216W0', '217W0', '218W0', '219W0', '220W0',
       '221W0', '222W0', '223W0', '224W0', '225W0', '226W0', '227W0',
       '228W0', '229W0', '230W0', '231W0', '232W0', '233W0', '234W0',
       '235W0', '236W0', '237W0', '238W0', '239W0', '240W0', '241W0',
       '242W0', '243W0', '244W0', '245W0', '246W0', '247W0', '248W0',
       '249W0', '250W0', 'TAWT'], dtype=object)

In [10]:
df1_pandas1 = df1_pandas.query("OPE_NO == '1C.PQX10' & INLINE_PARAMETER_ID == 'XMW0'")[['OPE_NO', 'INLINE_PARAMETER_ID', 'AVERAGE', 'STD_DEV', 'AVG_SPEC_CHK_RESULT', 'label']]
df1_pandas1

,OPE_NO,INLINE_PARAMETER_ID,AVERAGE,STD_DEV,AVG_SPEC_CHK_RESULT,label
2767,1C.PQX10,XMW0,0.000129,NaN,NaN,1
12380,1C.PQX10,XMW0,0.000093,NaN,NaN,1
18393,1C.PQX10,XMW0,0.000042,NaN,NaN,1
24314,1C.PQX10,XMW0,0.000072,NaN,NaN,1
31598,1C.PQX10,XMW0,0.000011,NaN,NaN,0
31954,1C.PQX10,XMW0,0.000017,NaN,NaN,1

------------------

In [12]:
def pre_process(df, agg_list):
    new_df = df.dropna(subset=['OPE_NO', 'INLINE_PARAMETER_ID']).copy()
    
    # 数据类型转换
    convert_to_numeric_list = agg_list + ['label', 'AVG_SPEC_CHK_RESULT']
    new_df[convert_to_numeric_list] = new_df[convert_to_numeric_list].apply(pd.to_numeric)
    
    # 缺失值填充
    new_df[agg_list] = new_df[agg_list].apply(lambda x: x.fillna(x.mean()))

    sum_spec_chk_res = new_df['AVG_SPEC_CHK_RESULT'].sum()
    sum_spec_chk_res = 0.0 if pd.isna(sum_spec_chk_res) else sum_spec_chk_res
    return sum_spec_chk_res, new_df
    
    
def dis_gravity(df, cols):
    """分类重心距离"""
    df_good = df.query('label == 0')
    df_bad = df.query('label == 1')

    feature_cols = []
    for col in cols:
        sample_good_count = len(df_good[col].dropna())
        sample_bad_count = len(df_bad[col].dropna())
        if df[col].nunique() > 1 and sample_bad_count > 0 and sample_good_count > 0:
            feature_cols.append(col)

    if len(feature_cols) == 0:
        return -1

    x_good = []
    x_bad = []
    for col in feature_cols:
        x_good.append(df_good[col].dropna().mean())
        x_bad.append(df_bad[col].dropna().mean())

    x_good = np.array(x_good).reshape(-1)
    x_bad = np.array(x_bad).reshape(-1)
    score =  np.linalg.norm(x_good - x_bad)
    return score



def fit_inline_algorithm(df, by, agg_list):
    
    schema_all = StructType([StructField("OPE_NO", StringType(), True),
                              StructField("weight", FloatType(), True),
                              StructField("INLINE_PARAMETER_ID", StringType(), True),
                              StructField("AVG_SPEC_CHK_RESULT_COUNT", FloatType(), True)])

    @pandas_udf(returnType=schema_all, functionType=PandasUDFType.GROUPED_MAP)
    def get_model_result(df):
        sum_spec_chk_res, new_df = pre_process(df, agg_list)
        score = dis_gravity(new_df, agg_list)

        # 增加一些字段信息
        new_df = new_df[['OPE_NO', 'INLINE_PARAMETER_ID']].head(1)
        new_df['weight'] = score
        new_df['AVG_SPEC_CHK_RESULT_COUNT'] = sum_spec_chk_res
        new_df = new_df[['OPE_NO', 'INLINE_PARAMETER_ID', 'weight', 'AVG_SPEC_CHK_RESULT_COUNT']]
        return new_df
    return df.groupby(by).apply(get_model_result)



def add_certain_column(df, by, request_id):
    """
    param df: 最后的建模结果
    param by: 分组字段, 手动增加一列add
    param request_id: 传入的request_id
    return: 最后的建模结果增加特定的列
    """
    try:
        schema_all = StructType([

            StructField("OPER_NO", StringType(), True),
            StructField("INLINE_PARAMETER_ID", StringType(), True),
            StructField("AVG_SPEC_CHK_RESULT_COUNT", FloatType(), True),
            StructField("weight", FloatType(), True),
            StructField("request_id", StringType(), True),
            StructField("weight_percent", FloatType(), True),
            StructField("index_no", IntegerType(), True)])

        @pandas_udf(returnType=schema_all, functionType=PandasUDFType.GROUPED_MAP)
        def get_result(final_res):
            final_res['weight'] = final_res['weight'].astype(float)
            final_res = final_res.query("weight > 0")
            final_res['weight'] = final_res['weight'] / final_res['weight'].sum()
            final_res['weight_percent'] = final_res['weight'] * 100
            
            final_res['request_id'] = request_id
            final_res = final_res.sort_values('weight', ascending=False)
            final_res['index_no'] = [i + 1 for i in range(len(final_res))]
            
            final_res['AVG_SPEC_CHK_RESULT_COUNT'] = final_res['AVG_SPEC_CHK_RESULT_COUNT'].fillna(0)
            final_res = final_res.drop('add', axis=1)
            return final_res
        return df.groupby(by).apply(get_result)
    except Exception as e:
        return None

In [13]:
request_id = 'sd'

res = (fit_inline_algorithm(df = df1.repartition(10, 'OPE_NO', 'INLINE_PARAMETER_ID'), 
                            by=['OPE_NO', 'INLINE_PARAMETER_ID'], 
                            agg_list=['AVERAGE', 'STD_DEV'])
        .withColumnRenamed(existing="OPE_NO", new="OPER_NO")
        .withColumn('add', lit(0)))

final_res = add_certain_column(df=res, by='add', request_id=request_id)
final_res.show()

+--------+-------------------+-------------------------+------------+----------+--------------+--------+
| OPER_NO|INLINE_PARAMETER_ID|AVG_SPEC_CHK_RESULT_COUNT|      weight|request_id|weight_percent|index_no|
+--------+-------------------+-------------------------+------------+----------+--------------+--------+
|2V.EQW10|               DPW1|                      0.0|  0.41912445|        sd|     41.912445|       1|
|2V.EQW10|               DPW0|                      0.0|   0.3725551|        sd|      37.25551|       2|
|6V.EQW10|               DPW1|                      0.0|  0.13970816|        sd|     13.970816|       3|
|1V.PQW10|               08W0|                     12.0|0.0027941633|        sd|    0.27941632|       4|
|1V.PQW10|               01W0|                     12.0|0.0027941633|        sd|    0.27941632|       5|
|1V.PQW10|               07W0|                     12.0|0.0027941633|        sd|    0.27941632|       6|
|1V.PQW10|               05W0|                     12.0|0.0027941633|        sd|    0.27941632|       7|
|1V.PQW10|               11W0|                     12.0|0.0027941633|        sd|    0.27941632|       8|
|1V.PQW10|               04W0|                     12.0|0.0027941633|        sd|    0.27941632|       9|
|1V.PQW10|               09W0|                     12.0|0.0027941633|        sd|    0.27941632|      10|
|1V.PQW10|               03W0|                     12.0|0.0027941633|        sd|    0.27941632|      11|
|1V.PQW10|               13W0|                     12.0|0.0027941633|        sd|    0.27941632|      12|
|1V.PQW10|               06W0|                     12.0|0.0027941633|        sd|    0.27941632|      13|
|1V.PQW10|               02W0|                     12.0|0.0027941633|        sd|    0.27941632|      14|
|1V.PQW10|               10W0|                     12.0|0.0027941633|        sd|    0.27941632|      15|
|1V.PQW10|               12W0|                     12.0|0.0027941633|        sd|    0.27941632|      16|
|2U.PQW10|               07W0|                     12.0|0.0024837006|        sd|    0.24837007|      17|
|2U.PQW10|               05W0|                     12.0|0.0024837006|        sd|    0.24837007|      18|
|2U.PQW10|               01W0|                     12.0|0.0024837006|        sd|    0.24837007|      19|
|2U.PQW10|               12W0|                     12.0|0.0024837006|        sd|    0.24837007|      20|
+--------+-------------------+-------------------------+------------+----------+--------------+--------+
only showing top 20 rows

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 39090)
Traceback (most recent call last):
  File "/opt/conda/lib/python3.10/socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/opt/conda/lib/python3.10/socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "/opt/conda/lib/python3.10/socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/opt/conda/lib/python3.10/socketserver.py", line 747, in __init__
    self.handle()
  File "/usr/local/spark/python/pyspark/accumulators.py", line 281, in handle
    poll(accum_updates)
  File "/usr/local/spark/python/pyspark/accumulators.py", line 253, in poll
    if func():
  File "/usr/local/spark/python/pyspark/accumulators.py", line 257, in accum_updates
    num_updates = read_int(self.rfile)
  File "/usr/local/spark/python/pyspark/serializers.py", line 595, in read_int
    raise EOFError
EOFError
----------------------------------------

In [ ]:
####################################################################################
#####################################正式调用以上函数##################################
####################################################################################
# 1. 解析json 为字典， df1 为kafka 输入的结果数据
df2 = df1.toPandas() 
parse_dict, request_id = get_some_info(df2)


# 2. 从kafka 关键字映射都具体数据源中的字段,没有的可以删除
keyword_map_from_json_to_table: dict = {
    "waferId": "WAFER_ID",
    "dateRange": "MEASURE_TIME",
    "productId": "PRODUCT_ID",
    "operNo": "OPE_NO",
    # "inlineParameterId": 'INLINE_PARAMETER_ID', 
    # "eqp": "TOOL_NAME",
    "lot": "LOT_ID",
    # "recipeName": "RECIPE_NAME"
}

select_condition_list = parse_dict

# 3. 查询表名, 需按实际情况修改
table_name = "ODS_EDA.ODS_INLINE_WAFER_SUMMARY"

In [283]:
# 主程序
try:
    # 1. 从数据库中获取数据
    df1 = get_data_from_doris(select_condition_list=select_condition_list, table_name=table_name)
    df1 = df1.select("OPE_NO", "INLINE_PARAMETER_ID", "AVERAGE",'STD_DEV', 'AVG_SPEC_CHK_RESULT', 'label')
    if df1 is None or df1.count() == 0:
        msg = '解析SQL获取数据异常: 数据库中可能没有数据!'
        df_kafka = pd.DataFrame({"code": 1, "msg": f'{msg}', "requestId": request_id}, index=[0])
        df1 = spark.createDataFrame(df_kafka)
        raise ValueError
        
    # 2. fit Inline算法
    res = (fit_inline_algorithm(df = df1.repartition(10, 'OPE_NO', 'INLINE_PARAMETER_ID'), 
                                by=['OPE_NO', 'INLINE_PARAMETER_ID'], 
                                agg_list=['AVERAGE', 'STD_DEV'])
            .withColumnRenamed(existing="OPE_NO", new="OPER_NO")
            .withColumn('add', lit(0)))
    if res is None or res.count() == 0:
        msg = '该场景下数据库中暂无充足的数据(真实BAD个数可能为0或真实GOOD个数可能为0)'
        df_kafka = pd.DataFrame({"code": 1, "msg": f'{msg}', "requestId": request_id}, index=[0])
        df1 = spark.createDataFrame(df_kafka)
        raise ValueError
        
    # 3. 增加特定的列，算法结果处理
    final_res = add_certain_column(df=res, by='add', request_id=request_id)
    if final_res is None or final_res.count() == 0:
        msg = '算法结果增加列暂时异常'
        df_kafka = pd.DataFrame({"code": 1, "msg": f'{msg}', "requestId": request_id}, index=[0])
        df1 = spark.createDataFrame(df_kafka)
        raise ValueError
    
    
    # 4.final_res 是最后的结果，要写回数据库
    ddd = final_res.toPandas()
    user ="root"
    host = "10.52.199.81"
    password = "Nexchip%40123"
    db = "etl"
    port = 9030
    engine = create_engine("mysql+pymysql://{user}:{password}@{host}:{port}/{db}".format(user = user,
                                                                                        password = password,
                                                                                        host = host,
                                                                                        port = port,
                                                                                        db = db))
    doris_stream_load_from_df(ddd, engine, "inline_results")

    # 最后运行成功，输出以下kafka信息
    df_kafka = pd.DataFrame({'code': 0,  'msg': '运行成功', 'requestId': request_id}, index=[1])
    df1 = spark.createDataFrame(df_kafka)
    
except ValueError as ve:
    pass

except Exception as e:
    df_kafka = pd.DataFrame({"code": 1, "msg": f"主程序发生异常: {str(e)}", "requestId": request_id}, index=[0])
    df1 = spark.createDataFrame(df_kafka)

In [286]:
df1.collect()

[Row(code=1, msg="主程序发生异常: name 'select_condition_list' is not defined", requestId='sd')]

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 50994)
Traceback (most recent call last):
  File "/opt/conda/lib/python3.10/socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/opt/conda/lib/python3.10/socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "/opt/conda/lib/python3.10/socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/opt/conda/lib/python3.10/socketserver.py", line 747, in __init__
    self.handle()
  File "/usr/local/spark/python/pyspark/accumulators.py", line 281, in handle
    poll(accum_updates)
  File "/usr/local/spark/python/pyspark/accumulators.py", line 253, in poll
    if func():
  File "/usr/local/spark/python/pyspark/accumulators.py", line 257, in accum_updates
    num_updates = read_int(self.rfile)
  File "/usr/local/spark/python/pyspark/serializers.py", line 595, in read_int
    raise EOFError
EOFError
----------------------------------------

In [ ]:
####################################################################################
#####################################结果写回数据库####################################
####################################################################################
def doris_stream_load_from_df(df, engine, table, is_json=True, chunksize=100000, partitions=None):
    engine_url = engine.url
    url = 'http://%s:18030/api/%s/%s/_stream_load' % (engine_url.host, engine_url.database, table)

    format_str = 'csv' if not is_json else 'json'
    headers = {
        'Content-Type': 'text/plain; charset=UTF-8',
        'format': format_str,
        'Expect': '100-continue'
    }
    if is_json:
        headers['strip_outer_array'] = 'true'
        headers['read_json_by_line'] = 'true'
    else:
        headers['column_separator'] = '@'
    
    if partitions:
        headers['partitions'] = partitions
    
    auth = requests.auth.HTTPBasicAuth(engine_url.username, engine_url.password)
    session = requests.sessions.Session()
    session.should_strip_auth = lambda old_url, new_url: False
    
    l = len(df)
    if l > 0:
        if chunksize and chunksize < l:
            batches = l // chunksize
            if l % chunksize > 0:
                batches += 1
            for i in range(batches):
                si = i * chunksize
                ei = min(si + chunksize, l)
                sub = df[si:ei]
                do_doris_stream_load_from_df(sub, session, url, headers, auth, is_json)
        else:
            do_doris_stream_load_from_df(df, session, url, headers, auth, is_json)


def do_doris_stream_load_from_df(df, session, url, headers, auth, is_json=False):
    data = df.to_csv(header=False, index=False, sep='@') if not is_json else df.to_json(orient='records', date_format='iso')
    #print(data)
    
    resp = session.request(
        'PUT',
        url = url,
        data=data.encode('utf-8'),
        headers=headers,
        auth=auth
    )
    print(resp.reason, resp.text)
    check_stream_load_response(resp.text)



def check_stream_load_response(resp_text):
    resp = json.loads(resp_text)
    if resp['Status'] not in ["Success", "Publish Timeout"]:
        raise Exception(resp['Message'])

In [18]:
####################################################################################
########################################T检验分析#####################################
####################################################################################

# 创建pandas_udf 映射信息
null_dataframe = pd.DataFrame(
    {'OPE_NO' : ["test"],
    'INLINE_PARAMETER_ID':['bbbss'],
    'weight':[0.0],
    'AVG_SPEC_CHK_RESULT_COUNT':[0.0]})

schema = spark.createDataFrame(null_dataframe).schema

@pandas_udf(schema, PandasUDFType.GROUPED_MAP)
def process_df_ttest(df):
    """t检验"""
    def dis_gravity(df,cols):
        """分类重心距离"""
        df_good = df.query('label == 0')
        df_bad = df.query('label == 1')
        feature_cols = []
        for col in cols:
            sample_good_count = len(df_good[col].dropna())
            sample_bad_count = len(df_bad[col].dropna())

            if df[col].nunique() >1 and (sample_bad_count) > 0 and sample_good_count > 0:
                sum_value = df_good[col].dropna().mean() + df_bad[col].dropna().mean()
                feature_cols.append(col)

        for col in feature_cols:
            df[col] = (df[col] - df[col].min()) / (df[col].max() - df[col].max())

        if len(feature_cols) == 0:
            return -1
        # print(f"x_good: {x_good}  x_bad: {x_bad}")
        # print(x_good.mean(axis=0), x_bad.mean(axis=0))

        # for col in feature_cols:
        #     sdf_g= df.query('label ==0')[col].mean()
        #     sdf_b = df.query('label ==1')[col].mean()
        x_good = []
        x_bad = []

        for col in feature_cols:
            x_good.append(df_good[col].dropna().mean())
            x_bad.append(df_bad[col].dropna().mean())
        
        x_good = np.array(x_good).reshape(-1)
        x_bad = np.array(x_bad).reshape(-1)
        diff = x_good - x_bad 
        score =  np.linalg.norm(diff)
        return score 


    def ttest(sample1, sample2):
        """t检验"""
        tr = stats.ttest_ind(sample1, sample2)
        return tr.__getattribute__("pvalue"),  tr.__getattribute__("statistic")


    new_df = df.dropna(subset=['OPE_NO', 'INLINE_PARAMETER_ID']).copy()
    new_df['AVG_SPEC_CHK_RESULT'] =  pd.to_numeric( new_df['AVG_SPEC_CHK_RESULT'])
    mean_spec_chk_res = new_df['AVG_SPEC_CHK_RESULT'].sum()

    if pd.isna(mean_spec_chk_res):
        mean_spec_chk_res = 0.0

    agg_list = ["AVERAGE",'STD_DEV', 'label']

    # Make sure that col must be numeric type , if not ,convert it to numeric type
    for col in agg_list:
        # new_df[col] = new_df[col].astype(float)
        new_df[col] = pd.to_numeric(new_df[col])
    agg_list.remove("label")

    df_good = new_df.query('label == 0')
    df_bad = new_df.query('label == 1')
    score = dis_gravity(new_df, agg_list)

    new_df = new_df[['OPE_NO', 'INLINE_PARAMETER_ID']].head(1)
    new_df['weight'] = score
    new_df['AVG_SPEC_CHK_RESULT_COUNT'] = mean_spec_chk_res
    return new_df[['OPE_NO', 'INLINE_PARAMETER_ID', 'weight', 'AVG_SPEC_CHK_RESULT_COUNT']]