In [1]:
import pandas as pd

In [19]:
df_pandas = pd.read_csv(
        "D:/Jupyterfiles/晶合MVAFDC_general开发/MVAanlysisDevelop/inline_algorithm/inline_case5_label_three_class.csv")
df_pandas

C:\Users\yang.wenjun\AppData\Local\Temp\ipykernel_32144\1510109302.py:1: DtypeWarning: Columns (134) have mixed types. Specify dtype option on import or set low_memory=False.
  df_pandas = pd.read_csv(

,WAFER_ID,OPE_NO,PARAMETRIC_NAME,MEASURE_TIME,RANGE_INDEX,FAB_ID,PRODUCT_ID,LOT_ID,AVERAGE,MAX_VAL,...,ACT_CODE,ETL_INSERT_TIME,ETL_ARC_FLAG,ETL_BATCH_SYNC_TS,ETL_DEL_FLAG,ETL_DS_JOB_NM,ETL_SRC_DB,ETL_SRC_TBL,ETL_TBL_OPER_TS,label
0,NAZ439-03,1F.FQE10,CXS1,2023/1/31 22:52,0,N1,AFPNM301N.0A01,NAZ439000,0.000000,144.06000,...,NaN,2023/5/29 6:00,0,1970/1/1 0:00,0,NaN,EDA,INLINE_WAFER_SUMMARY,1970/1/1 0:00,0
1,NAZ439-03,1F.FQE10,CYS1,2023/1/31 22:52,0,N1,AFPNM301N.0A01,NAZ439000,0.287947,144.06000,...,NaN,2023/5/29 6:00,0,1970/1/1 0:00,0,NaN,EDA,INLINE_WAFER_SUMMARY,1970/1/1 0:00,0
2,NAZ439-03,1F.FQE10,FDS1,2023/1/31 22:52,0,N1,AFPNM301N.0A01,NAZ439000,0.993052,0.99309,...,NaN,2023/5/29 6:00,0,1970/1/1 0:00,0,NaN,EDA,INLINE_WAFER_SUMMARY,1970/1/1 0:00,0
3,NAZ439-03,1F.FQE10,TAW1,2023/1/31 22:52,0,N1,AFPNM301N.0A01,NAZ439000,109.251900,NaN,...,NaN,2023/5/29 6:00,0,1970/1/1 0:00,0,NaN,EDA,INLINE_WAFER_SUMMARY,1970/1/1 0:00,0
4,NAZ439-03,1F.FQE10,TAWB,2023/1/31 22:52,0,N1,AFPNM301N.0A01,NAZ439000,109.251900,NaN,...,NaN,2023/5/29 6:00,0,1970/1/1 0:00,0,NaN,EDA,INLINE_WAFER_SUMMARY,1970/1/1 0:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32273,NAZ703-01,1U.PQA10,MCW0,2023/3/30 6:36,0,N1,AFPNM301N.0B01,NAZ703050,0.000000,NaN,...,NaN,2023/5/29 7:42,0,1970/1/1 0:00,0,NaN,EDA,INLINE_WAFER_SUMMARY,1970/1/1 0:00,1
32274,NAZ703-01,1U.PQA10,MEW0,2023/3/30 6:36,0,N1,AFPNM301N.0B01,NAZ703050,0.000000,NaN,...,NaN,2023/5/29 7:42,0,1970/1/1 0:00,0,NaN,EDA,INLINE_WAFER_SUMMARY,1970/1/1 0:00,1
32275,NAZ703-01,1U.PQA10,MFW0,2023/3/30 6:36,0,N1,AFPNM301N.0B01,NAZ703050,1.000000,NaN,...,NaN,2023/5/29 7:42,0,1970/1/1 0:00,0,NaN,EDA,INLINE_WAFER_SUMMARY,1970/1/1 0:00,1
32276,NAZ703-01,1U.PQA10,MSW0,2023/3/30 6:36,0,N1,AFPNM301N.0B01,NAZ703050,1.000000,NaN,...,NaN,2023/5/29 7:42,0,1970/1/1 0:00,0,NaN,EDA,INLINE_WAFER_SUMMARY,1970/1/1 0:00,1
32277,NAZ703-01,1U.PQA10,SNW0,2023/3/30 6:36,0,N1,AFPNM301N.0B01,NAZ703050,1.000000,NaN,...,NaN,2023/5/29 7:42,0,1970/1/1 0:00,0,NaN,EDA,INLINE_WAFER_SUMMARY,1970/1/1 0:00,1

In [20]:
df_pandas['label'].value_counts()

1    24180
0     6437
2     1661
Name: label, dtype: int64

In [21]:
df_pandas.groupby(["OPE_NO", 'label'])['WAFER_ID'].nunique().reset_index()

       OPE_NO  label  WAFER_ID
0    1C.CDG10      0         4
1    1C.CDG10      1         7
2    1C.CDG10      2         4
3    1C.EQW10      1         2
4    1C.PQA10      0         2
..        ...    ...       ...
147  TV.PQA10      1         6
148  TV.PQW10      0         1
149  TV.PQW10      1         9
150  TV.PQX10      0         4
151  TV.PQX10      1        11

[152 rows x 3 columns]